repos:
  - repo: https://github.com/psf/black
    rev: 23.7.0 
    hooks:
      - id: black
        args: ["--line-length=88"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile=black", "--line-length=88"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        exclude: ^tests/
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: bash -c "cd src/Rust && find . -name '*.rs' -exec rustfmt --edition 2021 {} +"
        language: system

      - id: cargo-clippy
        name: cargo-clippy
        entry: bash -c "cd src/Rust && cargo clippy --all-targets --all-features -- -D warnings"
        language: system
